.video_able_options {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
}
.video_able_option_button {
    position: absolute;
    margin-top: -2.25rem;
    top: 50%;
    width: 4.5rem;
    height: 4.5rem;
    margin-left: -2.25rem;
    left: 50%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .8);
    z-index: 555;
}
.play_icon {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -0.75rem;
    margin-left: -0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    border-style: solid;
    box-sizing: border-box;
    border-width: .75rem 0rem .75rem 1.5rem;
    border-color: transparent transparent transparent black;
}
.video_logo {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    bottom: 0.5rem;
    right: 0.5rem;
    background-color: #ffeee6;
    background-image: url(/icon-omm.webp);
    background-size: 1.2rem 1.2rem;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}